body {
  font-family: "lorimer-no-2", sans-serif;
}

.input-control.error input {
  color: white;
  border-color: rgb(255, 0, 0);
}

.input-control.success input {
  color: white;
  border-color: rgb(0, 212, 0);
}

.input-control.errorMessage {
  border-color: rgb(255, 0, 0);
  font-size: 7px;
  height: 10px;
}